{% extends 'app/base.html' %}
{% load static %}
{% block title %}Percussions{% endblock title %}
{% block main-content %}
<div class="container-fluid my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'percussion' %}" class="list-group-item list-group-item-action" aria-current="true">All Brands</a>
     <a href="{% url 'percussion-data' 'below'  %}" class="list-group-item list-group-item-action">Below 5000</a>
     <a href="{% url 'percussion-data' 'above'  %}" class="list-group-item list-group-item-action">Above 10000</a>
   </div>
  </div>
  <div class="col-sm-8">
   <div class="row">
    {% for product in percussion %}
     <div class="col-sm-4 text-center mb-4 border">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" height="200" width="300" class="">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
       </div>
      </a>
     </div>
    {% endfor %}
    <vr>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}